<footer class="bg-gray-900">
    <section class="site-width">
        <div class="text-gray-400 text-xs sm:text-sm flex flex-row justify-between items-center py-12 sm:px-2">


            <div class="flex flex-col">
                <p class="mb-1"><a href="/docs/feex-terms-and-conditions.pdf">Terms and Conditions</a> - <a href="/docs/feex-privacy-policy.pdf">Privacy Policy</a></pc>
                <p>© {{ now.Format "2006"}} Feex Australia <span class="hidden sm:inline">|</span><br class="inline sm:hidden"/> All rights reserved</p>
            </div>

            <div class="flex flex-row justify-between items-center">
                <div class="social-logo">
                    <a href="https://www.facebook.com/feex.au/">
                        {{ partial "picture.html" (dict "class" "image-grow" "alt" "Facebook Logo" "image" "images/facebook") }}
                    </a>
                </div>

                <div class="social-logo">
                    <a href="https://twitter.com/feex_au">
                        {{ partial "picture.html" (dict "class" "image-grow" "alt" "Twitter Logo" "image" "images/twitter") }}
                    </a>
                </div>
                <div class="social-logo">
                    <a href="https://www.instagram.com/feex_au/">
                        {{ partial "picture.html" (dict "class" "image-grow" "alt" "Instagram Logo" "image" "images/instagram") }}
                    </a>
                </div>

                <div class="social-logo">
                    <a href="https://www.linkedin.com/company/feexau">
                        {{ partial "picture.html" (dict "class" "image-grow" "alt" "Linkedin Logo" "image" "images/linkedin") }}
                    </a>
                </div>

            </div>
        </div>

    </section>
</footer>
