{{ define "og_tags" }}
<meta property="og:url" content="{{ .Page.Permalink }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="FEEX - The HOME UPKEEP SPECIALIST 🛠👷‍️"/>
<meta property="og:description" content="Feex any home issues taking a video on your phone"/>
<meta property="og:image" content="{{ .Site.BaseURL }}images/og_feex_logo_bianco.png"/>
{{ end }}

{{ define "main" }}
<div class="bg-tertiary">
    <section class="site-width">
        <div class="px-6">
            <!--      <p class="text-base font-semibold leading-7 text-indigo-600">Find out why</p>-->
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Are You Sure Calling for a
                Quote
                Over the Phone Is the Best Way to Repair Your Wall?</h1>

            <p class="mt-6 text-xl leading-8 text-gray-700">
                With Feex, it only takes <strong>thirty seconds</strong> of your time to fix your home wall.
            </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">
                If you're not into DIY, in a hurry to solve the issue, or simply don't have the time to search for the
                right
                tradie to explain your problem, then you're in the right place.
            </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">
                Through Feex, all you need to do is create a video of the damage needing repair, showcasing wall
                details, color, and
                framing the size of the damage. Feex technology <strong>will analyze the video</strong> and connect you
                with the nearest tradie for an
                accurate and quick quote.
            </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">[CALL TO ACTION]</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">
                There are many details you wouldn’t know unless you're in the trade,
                influencing the type of wall repair needed.

            <ol>
                <li>Where is the hole? Is it high or low on the wall?</li>
                <li>What kind of wall is it? Plaster? Cement? Brick? Render? Is it an external or internal wall?</li>
                <li>Is the wall tiled?</li>
                <li>What color is the wall?</li>
            </ol>
            </p>
        </div>

        <div class="px-6">
            <h2 class="mt-8 text-2xl font-semibold tracking-tight text-gray-700 sm:text-2xl">The current state of home
                All these details impact the cost of labor and specialization required for the repair
            </h2>

            <p class="mt-6 text-xl leading-8 text-gray-700">
                Sure, you can use Airtasker and get a quote, but are you certain that an app where you can find everyone
                from
                babysitters to low-cost movers is the best option for entrusting your home maintenance?
            </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">You can search for a tradie nearby, but do you know which
                tradie is right for your case? To provide a quote, the tradie
                needs to come to your house to see the details and offer a quote, but not always is the tradie you
                called the right
                person to solve your problem. If you're lucky, maybe you've sorted it, otherwise, it's back to searching
                for another
                tradie and starting over. </p>
            <p class="mt-6 text-xl leading-8 text-gray-700">I understand your frustration completely, but it's not your
                fault! </p>

            <h2 class="mt-8 text-2xl font-semibold tracking-tight text-gray-700 sm:text-2xl">The current state of home
                the problem lies in how these services are delivered </h2>

            <p class="mt-6 text-xl leading-8 text-gray-700">By using Feex, the video is analyzed, and all hidden details
                you might not know are used to identify the most suitable
                tradie near you to make the repair. No more time wasted on calls to various tradies trying to explain
                the problem, no
                more time wasted finding a tradie who can give you a reliable quote.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Sounds like science fiction, right?</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Here's what our customers say:</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">[Testimonial 1 </p>

            <p class="mt-6 text-xl leading-8 text-gray-700"><em>Feex is the most natural and at the same time innovative
                method to solve home repair problems. So simple to use that
                you'll wonder why no one else does it.</em>
            </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Here's how it works:</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Launch the application by clicking the button below.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Create a video showing the wall damage you need to repair;
                you can also add voice information while creating the video.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Include your contact information, and that's it.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Time required? The whole process takes less than 40
                seconds.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">Once you've sent the request, the Feex AI will analyze the
                video to find the most suitable and closest tradie to solve
                your problem.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">No forms to fill out.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">No ambiguity; it will feel like sending the video to a
                friend.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">[Testimonial 2] </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">[Call to action] </p>

            <p class="mt-6 text-xl leading-8 text-gray-700">
            Once the tradie is identified, you'll receive an accurate quote. You can accept or reject the quote without
            any obligation.</p>

            <p class="mt-6 text-xl leading-8 text-gray-700">
            Here are the most frequently asked questions:
            </p>

            <h3>Do I have to pay anything for the service?</h3>
            <p><em>The service is included in the quote. You only pay if you accept.</em></p>


            <h3>Is the work guaranteed?</h3>
            <p><em>Yes, the work is 100% guaranteed.</em></p>
        </div>

            {{ partial "wizard-start-link.html" . }}

    </section>
</div>

{{ end }}
